.heropanel {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #857ca5;
  border-radius: 1em;
  margin: 1em 0em;
  padding: 1em;
  gap: 1em;
}

.column{
  background-color: #3b384d;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 5px 5px 5px #181823;
  gap: 0.3em;
}

.line{
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  gap: 0.3em;
}

.line > img {
  width: 24px;
}

.bar {
  border-radius: 0.5em;
  align-self: stretch;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 5px 5px #181823;
}

.hp {
  background-color: #009900;
}

.mp {
  background-color: #0099cc;
}