.maincontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  padding: 1em;
  gap: 1em;
}

.block{
  display: flex;
  flex-flow: column;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: #3b384d;
  border-radius: 1em;
  gap: 0.3em;
}

.columnsText{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  align-self: stretch;
  background-color: #181823;
  padding: 0.5em;
  border-radius: 0.5em;
}

.icon {
  background-color: #181823;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 0.2em;
}

.inactive {
  color: gray;
}

.compareLine{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: center;
  background-color: #181823;
  border-radius: 0.5em;
  padding: 0 0.5em;
}

.compareCenter{
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-size: 14px;
  border: 1px solid #918ca7;
  border-radius: 0.5em;
}

.lineLeft{
  text-align: left;
  min-width: 20%;
}

.lineRight{
  text-align: right;
  min-width: 20%;
}

.red{
  color: lightcoral;
}

.green{
  color: greenyellow;
}

.gold{
  color: gold;
}

.lumber {
  color: greenyellow;
}