.maincontainer {
  display: grid;
  grid-template-columns: 1.2fr 2fr 2fr;
  grid-template-rows: 1fr;
  padding: 1em;
  gap: 1em;
}

.columnBlock{
  display: flex;
  flex-flow: column;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  background-color: #3b384d;
  border-radius: 1em;
  padding: 0.5em 0.5em;
  gap: 0.2em;
}

.icon {
  background-color: #181823;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 0.2em;
}

.lines{
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.linesTextCHx2 {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  gap: 1em;
  padding: 0.3em 0.5em;
  height: 2em;
  background-color: #181823;
  border-radius: 0.5em;
}

.linesEff {
  display: flex;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  gap: 1em;
  padding: 0.3em 0.5em;
  background-color: #181823;
  border-radius: 0.5em;
}

.linesZero{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  font-weight: 400;
  color: lightgrey;
  border-bottom: 1px solid #918ca7;
}

.columns{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  align-self: stretch;
  gap: 0.2em;
}

.columnsText{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  align-self: stretch;
  padding: 0.5em 0.5em;
  background-color: #181823;
  border-radius: 0.5em;
  gap: 0.5em;
}

.columnsZero{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column;
  font-weight: 600;
}

.stat{
  cursor: pointer;
}

.mainStat{
  cursor: pointer;
  color: gold;
}

.gold{
  color: gold;
}

.lumber {
  color: greenyellow;
}

.inactive {
  color: gray;
}

.red {
  color: lightcoral;
}

.blue {
  color: lightblue;
}

.smallImg{
  width: 48px;
}

.textCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.activeBoss{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  align-self: stretch;
  border: 1px solid gold;
  border-radius: 0.5em;
  color: gold;
  cursor: pointer;
}

.inactiveBoss{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  align-self: stretch;
  border: 1px solid #918ca7;
  border-radius: 0.5em;
  cursor: pointer;
}

.bossHeight{
  min-height: 13em;
  max-height: 13em;
}

.title {
  font-size: 1.2em;
}

@media screen and (max-width: 800px) {
  .maincontainer {
    grid-template-columns: 1fr 2fr;
  }
  #last{
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 510px) {
  .maincontainer {
    grid-template-columns: 1fr;
  }
}