.marks{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0 0.5rem;
  gap: 1.3rem;
  width: calc(100% - 3rem - 6px);
}

.marks p{
  display: flex;
  padding: 0.4rem;
  border: 3px solid #918ca7;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  font-weight: 600;
  cursor: pointer;
}

.active {
  color: #f5f2f1;
  background-color: #918ca7;
  text-shadow: 1px 0 1px #000, 
              0 1px 1px #000, 
              -1px 0 1px #000, 
              0 -1px 1px #000;
}

.inactive {
  color: #d4d4d4;
  background-color: #171721;
}