.maincontainer {
  grid-column: 2/3;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  margin: 1em 0;
  border: 3px solid #918ca7;
  border-radius: 1em;
  grid-auto-flow: dense;
}

.line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.column{
  display: flex;
  flex-flow: column;
  flex-shrink: 1;
  background-color: #3b384d;
  border-radius: 1em;
  padding: 0.5em;
  gap: 0.5em;
  border: 1px solid #918ca7;
}

.columnBoss{
  display: flex;
  flex-flow: column;
  grid-row: span 2;
  grid-column: span 2;
  background-color: #3b384d;
  border-radius: 1em;
  padding: 0.5em;
  gap: 0.5em;
  border: 1px solid #918ca7;
}

.column p, .columnBoss p{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .maincontainer{
    grid-template-columns: 1fr 1fr;
  }
  .columnBoss{
    grid-column: span 1;
    grid-row: 3/6;
  }
}

@media screen and (max-width: 650px) {
  .maincontainer{
    grid-template-columns: 1fr;
  }
  .columnBoss{
    grid-row: span 1;
    grid-column: span 1;
  }
}