.heroselection {
  grid-column: 2/-2;
  background-color: #857ca5;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1em;
  gap: 1em;
}