.tavern {
  background-color: #3b384d;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 5px 5px 5px #181823;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.heroes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5em;
}

.heroes > img {
  cursor: pointer;
}